.jumbotron{
background-color: #252324;
}

.vybe{
    margin-left: 200px;
}
.navbar{
    background-color: #252324; }

#bar{    
    color: #ff830f; 
}
body{
    background-image: url("../images/whiteback.jpg");
}
.line-color{
    margin-top: 13px;
}